body{
  font-family: 'Dancing Script';
  background:  #02010a;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

header{
  padding: 3px 10px;
  background: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

header h1{
  color: white;
}

a{
  color: inherit;
  text-decoration: inherit;
}

#encabezado nav{
  font-size: 1.5em;
  color: #ffffff;
}

ul{
  list-style-type: none;
  margin: 0;
  overflow:hidden;
}

li{
  float: right;
  display: block;
  margin: 0px 5px;
  padding: 0px 5px 10px;
}

header{
  animation-duration:3s;
  animation-name: slidein;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -0-animation-delay: 1s;
  animation-delay: 1s;
}

@@keyframes slidein {
    from{
      margin-top: 150%;
    }
    to{
      margin-top: -5%;
    }
}

#imagenpppal img{
  height: 95%;
}

#imagenpaisajes img {
  height: 80%;
  transition-property: border rotate;
  transition-duration: 0.5s;
}

#imagenretratos img {
  height: 85%;
  transition-property: border translate;
  transition-duration: 0.5s;
}

#imagenpaisajes img:hover {
  border: solid black 2px;
  -ms-transform: rotate(10deg); /* IE9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
  filter: drop-shadow(15px 20px 25px #82c3a6);
}

#imagenretratos img:hover {
  border: solid black 2px;
  transform: translate(20px,-5px);
  filter: drop-shadow(15px 20px 25px #82c3a6);
}

#contenido{
  display: flex;
  flex-direction: column;
}

#contenido > h1{
  padding: 1.0em;
  text-align: center;
}

.contenedor1{
  display: flex;
}

@media (max-width:720px){
  .contenedor2{
    display: flex;
    flex-direction: column;
  }
  .contenedor3{
    display: flex;
    flex-direction: column;
  }
  .contenedor4{
    display: flex;
    flex-direction: column;
  }
  .piepagina{
    display: flex;
    flex-direction: column;
  }
}

@media (min-width:721px) and (max-width:2400px){
  .contenedor2{
    display: flex;
    flex-direction: row;
  }
  .contenedor3{
    display: flex;
    flex-direction: row;
  }
  .contenedor4{
    display: flex;
    flex-direction: row;
  }
  .piepagina{
    display: flex;
    flex-direction: row;
  }
}

.contenedor1 > div{
  background-color: #82c3a6;
  height: 400px;
  width: 100%;
  text-align: center;
  padding: 2.2em;
}

.contenedor2 > div{
  background-color: #d5c75f;
  height: 250px;
  width: 93%;
  text-align: center;
  border: 1px;
  padding: 2.2em;
}

.contenedor3 > div{
  background-color: #d5c75f;
  height: 250px;
  width: 93%;
  text-align: center;
  border: 1px;
  padding: 2.2em;
}
.contenedor4 > div{
  background-color: #d5c75f;
  height: 250px;
  width: 93%;
  text-align: center;
  border: 1px;
  padding: 2.2em;
}
#retrato1 img{
  height: 85%;
  -webkit-filter:blur(10px);
  filter:blur(10px);
}
#retrato2 img{
  height: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#retrato4 img{
  height: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#retrato6 img{
  height: 85%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#retrato3 img{
  height: 85%;
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}
#retrato5 img{
  height: 85%;
}

#paisaje1 img{
  height: 70%;
  -webkit-filter:blur(10px);
  filter:blur(10px);
}
#paisaje2 img{
  height: 70%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#paisaje4 img{
  height: 70%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#paisaje6 img{
  height: 70%;
  -webkit-filter:grayscale(100%);
  filter:grayscale(100%);
}
#paisaje3 img{
  height: 70%;
  -webkit-filter:sepia(90%);
  filter:sepia(90%);
}
#paisaje5 img{
  height: 70%;
}
footer{
  padding: 3px 10px;
  margin-bottom: 5px;
  background: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: .8em
}

.piepagina > div {
  width: 25%;
  padding: 1px;
}
